@charset "utf-8";
/* CSS Document */

body{
 background-color:#f4f4f4;
 
}
	.admin{
	background-color:#fff;
	border:#666 solid 1px;
	width:400px;
	height:400px;
	margin:0 auto;
	direction:rtl;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	padding:11px 5px 11px 5px;
	border-radius:4px 4px 4px 4px;
		
	
		}
	
	.b{
	font-family:Tahoma, Geneva, sans-serif;
	color:red;
	text-decoration:underline;
	text-align:center;	
		
		}
	